.header{
    padding: 0;
    border-bottom: 1px solid #cecece
    }
    
    .navigation__logo{
    color: var(--primary-text-color);
    }
        
    .header-container{
    display: flex;
    align-items: center;
    }
    
    .navigation{
    display: flex;
    align-items: center;
    }

    .navigation__list{
    display: flex;
    margin-left: 93px;
    .link {
        @include font(14px, 1.14, 500, 0.02em);
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--primary-text-color);
        text-decoration: none;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    
    .navigation__item{
    position: relative;
    .navigation__list &:not(:last-child){
        margin-right: 50px;
        }
    }
    
    .current::after{
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    }
    
    .navigation__list .current{
    color: var(--accent-color);
    }
     
    .contacts{
    display: flex;
    margin-left: auto;
    .link{
        display: flex;
        align-items: center;
        color: var(--secondary-text-color);
        padding-top: 32px;
        padding-bottom: 32px;
        text-decoration: none;
        @include font(14px, 1.14, 500, 0.02em);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    .contacts__item{
        .contacts &:not(:last-child){
            margin-right: 30px;
            }
    }
    
    .contacts__icon{
    margin-right: 10px;
    fill: currentColor;
    }