.hero__btn{
    padding: 10px 31px;
    }
    
    .hero {

    text-align: center;
    margin-right: auto;
    margin-left: auto;
    min-height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/Header-mob-1x.jpg');
    background-position: center;
    background-size: cover;
    @include retina{
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/Header-mob-2x.jpg');
    }
    background-color: var(--secondary-bgk-color);
    @include mobile{
    padding-top: 118px;
    padding-bottom: 118px;
    }
    @include tablet{
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/Header-tab-1x.jpg');
    @include retina{
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/Header-tab-2x.jpg');}
    }
    @include desktop{
        padding: 200px 0;
        height: 600px;
        max-width: 1600px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/Header-desktop-1x.jpg');
    @include retina{background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/Header-desktop-2x.jpg');
    }
    }
    }
    
    .hero__title {
    color: var(--white-text-color);
    @include font(20px, 1.62, 900, 0.06em);
    text-transform: uppercase;
    margin-bottom: 30px;
    @include mobile{
    font-size: 26px;}
    @include desktop{
        font-size: 44px;
        line-height: 1.36;
    }
    }
    
    .hero__container {
        padding-top: 70px;
        display: block;
    max-width: 360px;
    @include mobile{
    padding: 0;}
    @include desktop {
        max-width: 696px;
    }
    }