@import './utils/normalize.scss';
@import './utils/mixins.scss';
@import './utils/variables.scss';
@import './utils/base.scss';


@import './header.scss';
@import './hero.scss';
@import './portfolio.scss';
@import './options.scss';
@import './work.scss';
@import './team.scss';
@import './clients.scss';
@import './footer.scss';
@import './modal.scss'