/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* белый #ffffff */
/* акцент #2196F3 */
/* цвет фона вторичный #F5F4FA */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --accent-color-hover: #188CE8;
    --white-text-color: #ffffff;
    --primary-bgk-color: #F5F4FA;
    --secondary-bgk-color: #2F303A;
    --primary-fill-color: #AFB1B8;
    }